<!DOCTYPE html>
<html lang="en">
<head>
  <title>Name Surfer</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/vendor/login_boot/css/bootstrap.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load('current', {packages: ['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = new google.visualization.DataTable();
        data.addColumn('string', 'Name');
        data.addColumn('number', 'john');
        data.addColumn('number', 'nate');

        data.addRows([
          ["1900", 0, 0],
          ["1910", 0, 0],
          ["1920", 0, 0],
          ["1930", 0, 0],
          ["1940", 0, 0],
          ["1950", 0, 0],
          ["1960", 0, 0],
          ["1970", 0, 1001],
          ["1980", 0, 1001],
          ["1990", 0, 1001],
          ["2000", 0, 1001]
        ])

      var options = {
        hAxis: {
          title: 'Decade'
        },
        vAxis: {
          title: 'Popularity',
          ticks: [1, 100,200,300,400,500,600,700,800,900, 1000],
          direction: '-1'
        },
        title: 'Name Surfer',
        curveType: 'function',
        legend: { position: 'bottom' }
      };

      var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));
      chart.draw(data, options);

      var button = document.getElementById("addButton");
      function bla(){
        data.addColumn('number', 'Jordan');
        data.addRows(chart.rowIndex)
      }
    }
  </script>
  <style>

  </style>
</head>
<body class="container">
<button onclick="bla()" id="addButton">Touch Me</button>
<div id="curve_chart" style="width: 900px; height: 500px"></div>
<%= yield %>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"/>
</body>
</html>