<!DOCTYPE html>
<html lang="en">
<head>
  <title>Name Surfer</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/vendor/login_boot/css/bootstrap.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load('current', {packages: ['corechart']});
    google.charts.setOnLoadCallback(drawChart);
    function drawChart() {
      var data = new google.visualization.DataTable();
      data.addColumn('string', 'Year');

      data.addRows([
        ["1900"],
        ["1910"],
        ["1920"],
        ["1930"],
        ["1940"],
        ["1950"],
        ["1960"],
        ["1970"],
        ["1980"],
        ["1990"],
        ["2000"]
      ]);

      var options = {
        hAxis: {
          title: 'Decade'
        },
        vAxis: {
          title: 'Popularity',
          ticks: [1, 100,200,300,400,500,600,700,800,900, 1000],
          direction: '-1'
        },
        title: 'Name Surfer',
        curveType: 'function',
        legend: { position: 'bottom' }
      };

      var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));

      function graph(){
        columnFound = false;
        for (var i = 0; i < data.getNumberOfColumns(); i++)
          if(data.getColumnLabel(i) == dat[0])
            columnFound = true;

        if(!columnFound) {
          data.addColumn('number', dat[0]);

          for (var i = 0; i < 11; i++) {
            data.setCell(i, data.getNumberOfColumns() - 1, parseInt(dat[i + 1]));
          }

          chart.draw(data, options);
        }
      };

      $(document).ready(() => {
        $('#input').on("change", (evt) => {
          let text = $('#input').val();
          $.get("/name", {text: text})
              .done((data) => {
                dat = data['result'];
                $('#input').val('');
                graph();
              });
        });
      });
    };
  </script>
  <style>

  </style>
</head>
<body class="container">

<h1>Name Surfer</h1>
<input id="input" type="text" placeholder="Name">

<%= yield %>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"/>
</body>
</html>